In [8]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
                   'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
                   'name': ['Murzik', 'Pushok', 'Kaa', 'Bobik', 'Strelka', 'Vaska', 'Kaa2', 'Murka', 'Graf', 'Muhtar'],
                   'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                   'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']})

In [13]:
for col in df.columns.tolist():
    if df[col].dtype=='int64' or df[col].dtype=='float64':
    print("{}:".format(col  )   )

IndentationError: expected an indented block (<ipython-input-13-68b92b9f77b6>, line 3)

In [9]:
df

  animal  age     name  visits priority
0    cat  2.5   Murzik       1      yes
1    cat  3.0   Pushok       3      yes
2  snake  0.5      Kaa       2       no
3    dog  NaN    Bobik       3      yes
4    dog  5.0  Strelka       2       no
5    cat  2.0    Vaska       3       no
6  snake  4.5     Kaa2       1       no
7    cat  NaN    Murka       1      yes
8    dog  7.0     Graf       2       no
9    dog  3.0   Muhtar       1       no

In [12]:
df['age'].dtype=='float64'

True